<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    TECHNOSALUD
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" routerLink="/personas">Personas</a>
    <a class="list-group-item list-group-item-action bg-light">Pacientes</a>
    <a class="list-group-item list-group-item-action bg-light">Medicos</a>
    <a class="list-group-item list-group-item-action bg-light">Especialidades</a>
    <a class="list-group-item list-group-item-action bg-light">Centrales Medicas</a>
  </div>
</div>